In [54]:
import numpy as np
import pandas as pd
import sklearn
import string
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB,MultinomialNB
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report
from sklearn.feature_extraction.text import CountVectorizer

In [4]:
df=pd.read_csv(r"C:\Users\ADMIN\Desktop\Datascience Class\Notebook\spam_data.csv",names=['Class','Message'])

In [5]:
df

     Class                                            Message
0      ham  I've been searching for the right words to tha...
1     spam  Free entry in 2 a wkly comp to win FA Cup fina...
2      ham  Nah I don't think he goes to usf, he lives aro...
3      ham  Even my brother is not like to speak with me. ...
4      ham               I HAVE A DATE ON SUNDAY WITH WILL!!!
...    ...                                                ...
5564  spam  This is the 2nd time we have tried 2 contact u...
5565   ham               Will ü b going to esplanade fr home?
5566   ham  Pity, * was in mood for that. So...any other s...
5567   ham  The guy did some bitching but I acted like i'd...
5568   ham                         Rofl. Its true to its name

[5569 rows x 2 columns]

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5569 entries, 0 to 5568
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Class    5569 non-null   object
 1   Message  5569 non-null   object
dtypes: object(2)
memory usage: 87.1+ KB

In [8]:
df.describe()

       Class                 Message
count   5569                    5569
unique     2                    5166
top      ham  Sorry, I'll call later
freq    4823                      30

In [23]:
df['Len_Message']=[len(i) for i in df.Message]

In [24]:
df.head()

  Class                                            Message  Len_Message
0   ham  I've been searching for the right words to tha...          196
1  spam  Free entry in 2 a wkly comp to win FA Cup fina...          155
2   ham  Nah I don't think he goes to usf, he lives aro...           61
3   ham  Even my brother is not like to speak with me. ...           77
4   ham               I HAVE A DATE ON SUNDAY WITH WILL!!!           36

In [21]:
# Option 2
df.Message.str.len()

0       196
1       155
2        61
3        77
4        36
       ...
5564    160
5565     36
5566     57
5567    125
5568     26
Name: Message, Length: 5569, dtype: int64

In [25]:
# Option 3
df['Message'].apply(len)

0       196
1       155
2        61
3        77
4        36
       ...
5564    160
5565     36
5566     57
5567    125
5568     26
Name: Message, Length: 5569, dtype: int64

In [26]:
df['Len_Message'].describe()

count    5569.000000
mean       80.419285
std        59.787014
min         2.000000
25%        36.000000
50%        62.000000
75%       122.000000
max       910.000000
Name: Len_Message, dtype: float64

In [27]:
df[df['Len_Message']==910]

     Class                                            Message  Len_Message
1080   ham  For me the love should start with attraction.i...          910

In [29]:
df[df['Len_Message']==910]['Message'].iloc[0]

"For me the love should start with attraction.i should feel that I need her every time around me.she should be the first thing which comes in my thoughts.I would start the day and end it with her.she should be there every time I dream.love will be then when my every breath has her name.my life should happen around her.my life will be named to her.I would cry for her.will give all my happiness and take all her sorrows.I will be ready to fight with anyone for her.I will be in love when I will be doing the craziest things for her.love will be when I don't have to proove anyone that my girl is the most beautiful lady on the whole planet.I will always be singing praises for her.love will be when I start up making chicken curry and end up makiing sambar.life will be the most beautiful then.will get every morning and thank god for the day because she is with me.I would like to say a lot..will tell later.."

In [34]:
df['New_Class']=df['Class'].replace('ham','0').replace('spam',1)

In [35]:
df.head()

,Class,Message,Len_Message,New_Class
0,ham,I've been searching for the right words to tha...,196,0
1,spam,Free entry in 2 a wkly comp to win FA Cup fina...,155,1
2,ham,"Nah I don't think he goes to usf, he lives aro...",61,0
3,ham,Even my brother is not like to speak with me. ...,77,0
4,ham,I HAVE A DATE ON SUNDAY WITH WILL!!!,36,0

In [36]:
df['Class']=df['Class'].map({'ham':0,'spam':1})

In [37]:
df.head()

,Class,Message,Len_Message,New_Class
0,0,I've been searching for the right words to tha...,196,0
1,1,Free entry in 2 a wkly comp to win FA Cup fina...,155,1
2,0,"Nah I don't think he goes to usf, he lives aro...",61,0
3,0,Even my brother is not like to speak with me. ...,77,0
4,0,I HAVE A DATE ON SUNDAY WITH WILL!!!,36,0

In [38]:
df.dtypes

Class           int64
Message        object
Len_Message     int64
New_Class      object
dtype: object

In [40]:
# To get the values in a column as an array
df['Class'].values

array([0, 1, 0, ..., 0, 0, 0], dtype=int64)

#### Remove the Punctuations

In [42]:
def clean_message(message):
    nonPunc=[word for word in message if word not in string.punctuation]
    nonPunc="".join(nonPunc)
    return nonPunc

In [43]:
df['Message']=df['Message'].apply(clean_message)

In [44]:
df['Message']

0       Ive been searching for the right words to than...
1       Free entry in 2 a wkly comp to win FA Cup fina...
2       Nah I dont think he goes to usf he lives aroun...
3       Even my brother is not like to speak with me T...
4                       I HAVE A DATE ON SUNDAY WITH WILL
                              ...
5564    This is the 2nd time we have tried 2 contact u...
5565                  Will ü b going to esplanade fr home
5566    Pity  was in mood for that Soany other suggest...
5567    The guy did some bitching but I acted like id ...
5568                            Rofl Its true to its name
Name: Message, Length: 5569, dtype: object

In [45]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

#### Count Vectorizer

In [64]:
cv=CountVectorizer(stop_words='english')

In [65]:
x=df['Message'].values
y=df['Class'].values

In [66]:
x

array(['Ive been searching for the right words to thank you for this breather I promise i wont take your help for granted and will fulfil my promise You have been wonderful and a blessing at all times',
       'Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005 Text FA to 87121 to receive entry questionstd txt rateTCs apply 08452810075over18s',
       'Nah I dont think he goes to usf he lives around here though', ...,
       'Pity  was in mood for that Soany other suggestions',
       'The guy did some bitching but I acted like id be interested in buying something else next week and he gave it to us for free',
       'Rofl Its true to its name'], dtype=object)

#### Train Test Split

In [102]:
X_train,X_test,Y_train,Y_test=train_test_split(x,y,test_size=0.2,random_state=4)

In [103]:
X_train_cv=cv.fit_transform(X_train)

In [104]:
X_train_cv=X_train_cv.todense()

#### Model - Naive Bayes

In [105]:
NB = GaussianNB()

In [106]:
Y_train=Y_train.astype('int')

In [107]:
NB.fit(X_train_cv,Y_train)

C:\Users\ADMIN\anaconda3\lib\site-packages\sklearn\utils\validation.py:723: FutureWarning: np.matrix usage is deprecated in 1.0 and will raise a TypeError in 1.2. Please convert to a numpy array with np.asarray. For more information see: https://numpy.org/doc/stable/reference/generated/numpy.matrix.html
  warnings.warn(

GaussianNB()

In [108]:
X_test_cv=cv.transform(X_test)

In [109]:
X_test_cv=X_test_cv.todense()

In [110]:
y_pred=NB.predict(X_test_cv)

C:\Users\ADMIN\anaconda3\lib\site-packages\sklearn\utils\validation.py:723: FutureWarning: np.matrix usage is deprecated in 1.0 and will raise a TypeError in 1.2. Please convert to a numpy array with np.asarray. For more information see: https://numpy.org/doc/stable/reference/generated/numpy.matrix.html
  warnings.warn(

In [111]:
len(Y_test),len(y_pred)

(1114, 1114)

In [112]:
acc_score=accuracy_score(Y_test,y_pred)

In [113]:
acc_score

0.8940754039497307

#### Spam Classifier App

In [114]:
msg=input("Please enter the message")
msg_cl=cv.transform(pd.Series(msg)).todense()
prediction=NB.predict(msg_cl)
if(prediction==0):
    print("###Message sent to INBOX###")
else:
    print("###Message sent to SPAM###")

Please enter the messagefifa fa fa
###Message sent to SPAM###

C:\Users\ADMIN\anaconda3\lib\site-packages\sklearn\utils\validation.py:723: FutureWarning: np.matrix usage is deprecated in 1.0 and will raise a TypeError in 1.2. Please convert to a numpy array with np.asarray. For more information see: https://numpy.org/doc/stable/reference/generated/numpy.matrix.html
  warnings.warn(