### Global Variables

In [1]:
c = "Global Variables"

def function1():
    print("Inside the Func",c)
function1()
print("Outside the Func",c)

Inside the Func Global Variables
Outside the Func Global Variables

In [4]:
# Example for Local Variable
def function2():
    local_var="local variable"
    print(local_var)

function2()
local_var

local variable

NameError: name 'local_var' is not defined

### Local and Global in same code

In [11]:
 # Defining global inside the funtion will allow us to modify/assign the variable defined outside the scope of function
x = 20

def global_var_ex():
    y = 10
    global x
    x = x + 10
    print("This is my local variable",y)
    print("this is my global variable",x)

global_var_ex()

This is my local variable 10
this is my global variable 30

In [16]:
z = 20

def global_var_ex1():
    y = 10
    global x
    x = z + 60
    print("This is my local variable",y)
    print("this is my global variable",x)

global_var_ex1()
x= x + 10
x

This is my local variable 10
this is my global variable 80

90

In [19]:
ab = 25

def multi():
    global ab
    print("value before updating", ab)
    ab = ab * ab
    return ab

multi()
ab

value before updating 25

625

### Nested List

In [20]:
nested_list = [1,2,[3,4],["five","six","seven"]]
nested_list

[1, 2, [3, 4], ['five', 'six', 'seven']]

In [21]:
nested_list[2][1]

4

In [22]:
nested_list[3][2]

'seven'

In [23]:
nested_list[1]

2

In [24]:
nested_list[-2][-1]

4

In [25]:
nested_list[-1]

['five', 'six', 'seven']

In [26]:
nested_list[-1][0]

'five'

### Append and Extend

In [27]:
list_1 = [5,4,3]
list_1.append(7)
list_1

[5, 4, 3, 7]

In [28]:
list_1.extend([8,5,9])
list_1

[5, 4, 3, 7, 8, 5, 9]

In [29]:
list_1.extend(range(10,12))
list_1

[5, 4, 3, 7, 8, 5, 9, 10, 11]

In [1]:
# Insert allows to insert the values at the specified position of the list
var1 = 15

list_1.insert(0,var1)
list_1

NameError: name 'list_1' is not defined

In [33]:
var2 = [10,20]

list_1.insert(4,var2)
list_1

[15, 15, 15, 5, [10, 20], 4, 3, 7, 8, 5, 9, 10, 11]

In [36]:
# Remove will delete the first occurence of the the item from the list
print(list_1)

list_1.remove(15)
list_1

[15, 15, 5, [10, 20], 4, 3, 7, 8, 5, 9, 10, 11]

[15, 5, [10, 20], 4, 3, 7, 8, 5, 9, 10, 11]

In [37]:
list_1

[15, 5, [10, 20], 4, 3, 7, 8, 5, 9, 10, 11]

In [38]:
# del allows us to delete an element from the list based on the index
del list_1[-1]
list_1

[15, 5, [10, 20], 4, 3, 7, 8, 5, 9, 10]

In [39]:
["five"] * 5

['five', 'five', 'five', 'five', 'five']

In [41]:
### List Concatenation

In [40]:
list_3 = [100,200,300]
list_4 = [400,"five hundred"]

list_3 + list_4

[100, 200, 300, 400, 'five hundred']

In [43]:
list_3 * list_4

TypeError: can't multiply sequence by non-int of type 'list'

In [45]:
s= "Data Science"
a=list(s)

In [46]:
a

['D', 'a', 't', 'a', ' ', 'S', 'c', 'i', 'e', 'n', 'c', 'e']

### pop

In [49]:
# Pop will delete the last element in the list by default
a.pop()
a

['D', 'a', 't', 'a', ' ', 'S', 'c', 'i', 'e', 'n']

In [50]:
# we can delete the position items using pop
a.pop(0)

'D'

In [51]:
a

['a', 't', 'a', ' ', 'S', 'c', 'i', 'e', 'n']

In [54]:
# Use Index to find out the first occurence of the value in the list
a.index('S')

4

In [56]:
# To count the number of items in a list
a.count('a')

2

In [62]:
b = []

for i in range(10):
    b.append(i**2)
b

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [65]:

[a**2 for a in range(10) ]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [66]:
[a for a in range(100) if((a%2==0) and (a%5==0))]

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [67]:
[a for a in range(10) if a%2==0]

[0, 2, 4, 6, 8]

In [68]:
[a for a in range(10) if a%2!=0]

[1, 3, 5, 7, 9]

In [70]:
['even' if a%2==0 else 'odd' for a in range(10) ]

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

### Enumerate

In [74]:
x1 = ["data","hello","world"]

x1

['data', 'hello', 'world']

In [75]:
list(enumerate(x1))

[(0, 'data'), (1, 'hello'), (2, 'world')]

In [76]:
# we can specify the index from which it has to start as an optional argument
list(enumerate(x1,200))

[(200, 'data'), (201, 'hello'), (202, 'world')]

### Tuple Operations

In [79]:
# Tuple can be defined without the parenthesis
tuple1 = 3,5.5,"nine"
print(tuple1)
type(tuple1)

(3, 5.5, 'nine')

tuple

#### Tuple unpacking

In [80]:
a ,b , c = tuple1
print(a)
print(b)
print(c)

3
5.5
nine

In [81]:
tuple2 = ('tuple')
type(tuple2)

str

In [82]:
tuple3 = "one",
type(tuple3)

tuple

In [83]:
tuple4 = ("two",)
type(tuple4)

tuple

### Changing a tuple

In [84]:
tuple5=("a",["b","c"],"d")
tuple5

('a', ['b', 'c'], 'd')

In [87]:
tuple5[1].append('c')

In [88]:
tuple5

('a', ['b', 'c', 'c'], 'd')

In [89]:
tuple5[1][2]='d'
tuple5

('a', ['b', 'c', 'd'], 'd')

In [91]:
tuple5.insert("e")

AttributeError: 'tuple' object has no attribute 'insert'

#### A "set" of mixed data types

In [94]:
my_set1= {1.0,"Hey",(2,5,8)}
print(my_set1)

{1.0, (2, 5, 8), 'Hey'}

In [95]:
#  A set cannot contain dulicates, when we add List to a set then it can be modified and it can change the values, so it is not allowed
my_set2= {1.0,"Hey",[2,5,8]}
my_set2

TypeError: unhashable type: 'list'

#### discard

In [96]:
my_set = {1,8,9,4,0,10}
print(my_set)

my_set.discard(9)
print(my_set)

my_set.remove(4)
print(my_set)

{0, 1, 4, 8, 9, 10}
{0, 1, 4, 8, 10}
{0, 1, 8, 10}

In [98]:
## discard will continue if the value doesnt exists, however remove will throw error , if the item doesnt exists
my_set = {1,8,9,4,0,10}
print(my_set)

my_set.discard(3)
print(my_set)

my_set.remove(3)
print(my_set)

{0, 1, 4, 8, 9, 10}
{0, 1, 4, 8, 9, 10}

KeyError: 3

### Iterators

In [100]:
my_list5 = [2,9,8,3]

my_iter = iter(my_list5)

print(next(my_iter))

2

In [101]:
print(next(my_iter))

9

In [102]:
print(next(my_iter))

8

In [103]:
type(my_iter)

list_iterator

In [104]:
print(my_iter)

<list_iterator object at 0x00000276621A5640>

In [105]:
print(next(my_iter))

3

In [106]:
print(next(my_iter))

StopIteration:

In [107]:
my_tup = (2,3,"five")

iter1 = iter(my_tup)

In [108]:
print(next(iter1))

2

In [109]:
print(next(iter1))

3

In [110]:
print(next(iter1))

five

In [111]:
type(iter1)

tuple_iterator

### Generators

In [ ]:
##Generator is an implemenation of Iterator, it helps to iterate from one location to other

In [5]:
def generator_fun():
    num = 1
    print ("The first num :")
    yield num
    num +=1
    print("The second number:")
    yield num
    num +=1
    print ("the third numer :")
    yield num

In [2]:
generator_fun()

In [6]:
var10 = generator_fun()

In [7]:
next(var10)

The first num :

1

In [8]:
next(var10)

The second number:

2

In [9]:
next(var10)

the third numer :

3

In [10]:
next(var10)

StopIteration:

#### Range (start,stop,step)

In [85]:
# the range starts from 11,0,-1 with a setp of -1
str1="Data Science"
def generator1(var1):
    for i in range(len(var1)-1,0,-1):
        str12=var1[i]
        print("the letter in iteration is", var1[i])
        yield str12

In [86]:
b = generator1(str1)

In [87]:
next(b)

the letter in iteration is e

'e'

In [94]:
str1="Data Science"
len(str1)
b3 = range(-1,-(len(str1)-1),1) 

for i in range(-1,-(len(str1)),-1):
    print(i)

-1
-2
-3
-4
-5
-6
-7
-8
-9
-10
-11

In [99]:
str1="Data Science"
def generator2(var1):
    for i in range(-1,-(len(str1)),-1):
        str12=var1[i]
        print("the letter in iteration is", var1[i])
        yield str12

In [100]:
c = generator2(str1)

In [101]:

next(c)
next(c)
next(c)
next(c)
next(c)
next(c)
next(c)
next(c)
next(c)
next(c)
next(c)

the letter in iteration is e
the letter in iteration is c
the letter in iteration is n
the letter in iteration is e
the letter in iteration is i
the letter in iteration is c
the letter in iteration is S
the letter in iteration is
the letter in iteration is a
the letter in iteration is t
the letter in iteration is a

'a'

In [102]:
list1 = [2,4,5,10]

In [103]:
[i**2  for i in list1]

[4, 16, 25, 100]

### Generator Expression

In [104]:
# in a list comprehension syntax , if we change it to () then it becomes Generator expression
(i**2  for i in list1)

In [107]:
gen_var = (i**2  for i in list1)

In [108]:
print(next(gen_var))
print(next(gen_var))
print(next(gen_var))
print(next(gen_var))

4
16
25
100

In [112]:
max(i**2  for i in list1)

100

In [114]:
for i in range(10):
    print (i)

0
1
2
3
4
5
6
7
8
9

### Nested Functions

In [2]:
def outer_func(arg1):
    var3=3
    def inner_func():
        var1 = arg1 * 5 + var3
        print(var1)
        
    inner_func()

In [3]:
outer_func(20)

103

### Closures

In [140]:
### Please note that we are not calling inner() instead we are only calling inner
def outer1(arg2):
    var22 = 25
    def inner1():
        var23 = arg2 + 8
        print("the value is ",var23)
        return var23
    return inner1

In [141]:
func_ret =outer1(20)

In [142]:
func_ret()

the value is  28

28

### Decorators

In [4]:
def funct1():
    print("Print Funct1")
funct1()

Print Funct1

In [5]:
funct2 = funct1

In [6]:
funct2()

Print Funct1

In [13]:
def func_sq(a):
    return a**2

def func_cube(a):
    return a**3

def func_three(func,arg):
    res=func(arg)
    return res

func_three(func_sq,5)

25

In [14]:
func_three(func_cube,5)

125

In [15]:
def is_called():
    def is_returned():
        print("Nested Function is returned")
    return is_returned

In [16]:
fn = is_called()

In [17]:
fn()

Nested Function is returned

In [20]:
def decorating_func(fn):
    def nested_fn():
        fn()
        print("This is decorator funct")
    return nested_fn

def ord_fun():
    print("this is ordinary func")
    
deco = decorating_func(ord_fun)
deco()

this is ordinary func
This is decorator funct

In [22]:
@decorating_func
def ord_fun():
    print("This is ord func")

In [23]:
### The above funct is equal to the below func

In [24]:
def ord_fun():
    print("This is ord func")
    
ord_fun=decorating_func(ord_fun)

In [28]:
#This is an intersting concept where we are trying to extend the original functionality by creating a new function
def decor_func(func):
    def nested_func(a,b): # decorating function
        print(f" Dividing {a} and {b}")
        if b == 0:
            print("Cannot Divide")
            return
        return func(a,b)
    return nested_func

In [30]:
@decor_func
def ordinary_func(a,b):
    return a/b

ordinary_func(64,10)

 Dividing 64 and 10

6.4

In [23]:
def decorting_fn(func):
    def nested_fn(a, b):
        print('Dividing', a, 'and', b)
        if b == 0:
            print('Can NOT divide')
            return
        return func(a, b)
#     print('The decoration done')
    return nested_fn

In [24]:
@decorting_fn #Place the decorating function on top of the function that needs to be decorated
def ordinary_fn(c, d):
    return c/d

In [25]:
ordinary_fn(64, 8)

Dividing 64 and 8

8.0