1.Import the necessary package to
   a.Set the current working directory
   b.Change the working directory """

In [5]:
import os
# to get the Current Working Directory
os.getcwd()

'C:\\Users\\ADMIN\\Desktop\\Datascience Class\\Notebook'

In [9]:
# to chnage the Working Directory
os.chdir("C:\\tmp\\")
os.getcwd()

'C:\\tmp'

In [11]:
# To again change back to the original Directory
os.chdir("C:\\Users\\ADMIN\\Desktop\\Datascience Class\\Notebook")
os.getcwd()

'C:\\Users\\ADMIN\\Desktop\\Datascience Class\\Notebook'

2.	Create the string, int and float variable and delete them all in the next cell

In [12]:
a = "String"
b = 10
c = 5.5

In [16]:
del a,b,c

3.	What’s the result of assigning a value to a ‘keyword’?
    a.Please highlight the error

In [26]:
True = 10

SyntaxError: cannot assign to True (Temp/ipykernel_16432/2227483689.py, line 1)

4.	How to write a multi-line statement and assign it to a variable (Note: Without using a backslash “\” at the end of each line)

In [28]:
abc = ( 5 + 5 + 
      +1+8+10+12+15)

In [29]:
abc

56

5.	Print the list of numbers from 100 to 999 with an interval (step size) of 8 between the numbers

In [39]:
bcd = list(range(100,999,8))

In [40]:
bcd

[100,
 108,
 116,
 124,
 132,
 140,
 148,
 156,
 164,
 172,
 180,
 188,
 196,
 204,
 212,
 220,
 228,
 236,
 244,
 252,
 260,
 268,
 276,
 284,
 292,
 300,
 308,
 316,
 324,
 332,
 340,
 348,
 356,
 364,
 372,
 380,
 388,
 396,
 404,
 412,
 420,
 428,
 436,
 444,
 452,
 460,
 468,
 476,
 484,
 492,
 500,
 508,
 516,
 524,
 532,
 540,
 548,
 556,
 564,
 572,
 580,
 588,
 596,
 604,
 612,
 620,
 628,
 636,
 644,
 652,
 660,
 668,
 676,
 684,
 692,
 700,
 708,
 716,
 724,
 732,
 740,
 748,
 756,
 764,
 772,
 780,
 788,
 796,
 804,
 812,
 820,
 828,
 836,
 844,
 852,
 860,
 868,
 876,
 884,
 892,
 900,
 908,
 916,
 924,
 932,
 940,
 948,
 956,
 964,
 972,
 980,
 988,
 996]

6.	Write a “for” loop to print out the ‘n’ values and break out of the statement if the value is ‘n/2’
Enhaned it by using the continue statement to print out the even numbers between 1 & 50

In [49]:
for i in range (1,100):
    if (i <50):
        if (i%2==0):
            print("The number divisible by 2 between 1 & 50  is" ,i)
            continue

The number divisible by 2 between 1 & 50  is 2
The number divisible by 2 between 1 & 50  is 4
The number divisible by 2 between 1 & 50  is 6
The number divisible by 2 between 1 & 50  is 8
The number divisible by 2 between 1 & 50  is 10
The number divisible by 2 between 1 & 50  is 12
The number divisible by 2 between 1 & 50  is 14
The number divisible by 2 between 1 & 50  is 16
The number divisible by 2 between 1 & 50  is 18
The number divisible by 2 between 1 & 50  is 20
The number divisible by 2 between 1 & 50  is 22
The number divisible by 2 between 1 & 50  is 24
The number divisible by 2 between 1 & 50  is 26
The number divisible by 2 between 1 & 50  is 28
The number divisible by 2 between 1 & 50  is 30
The number divisible by 2 between 1 & 50  is 32
The number divisible by 2 between 1 & 50  is 34
The number divisible by 2 between 1 & 50  is 36
The number divisible by 2 between 1 & 50  is 38
The number divisible by 2 between 1 & 50  is 40
The number divisible by 2 between 1 & 50  is 42
The number divisible by 2 between 1 & 50  is 44
The number divisible by 2 between 1 & 50  is 46
The number divisible by 2 between 1 & 50  is 48

7.	Write a simple function and call the docstring from outside the function

In [50]:
def test_funcadd(a,b):
    """This is the doc string test"""
    return a+b

In [51]:
test_funcadd(5,25)

30

In [52]:
print(test_funcadd.__doc__)

This is the doc string test

8.	Create a user-defined package in ‘site-packages’ with below 3 variables a, b and c. Import these variables and write a function to calculate the area of triangle for below 3 sides (a, b, c). Calculate the semi-perimeter (s) first, to calculate the area of triangle (area) at last
<< Formula to calculate semi-perimeter: s = (a+b+c )/2
<< Formula to calculate area = (s*(s-a) * (s-b) * (s-c)) ** 0.5 >>
a.	15
b.	51
c.	17

In [53]:
from my_package import assign1

In [56]:
var1=assign1.a
var2=assign1.b
var3=assign1.c

In [57]:
def tri_area_semiperimeter(a,b,c):
    # First let us calculate the Semi-Perimeter
    s=(a+b+c)/2
    # Now let us calculate the Area of Triangle
    area = (s*(s-a) * (s-b) * (s-c)) ** 0.5
    return area

In [58]:
tri_area_semiperimeter(var1,var2,var3)

(3.097937745838546e-14+505.93162828587816j)

9.	Write a list comprehension to print the odd numbers from 0 to 100

In [71]:
odd_num=[i for i in range(0,100) if i%2!=0]

In [72]:
odd_num

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]

Create a variable (ex: name) and store your full name in it. Then write a list comprehension to print your name excluding vowels (a, e, i, o, u)
a.	Ex: name = Imran
b.	Output = [‘m’, ‘r’, ‘n’]

In [80]:
name="Naganathavanthian Chellam"

In [81]:
name_out=[a for a in name if a not in ('a','e','i','o','u')]

In [82]:
name_out

['N',
 'g',
 'n',
 't',
 'h',
 'v',
 'n',
 't',
 'h',
 'n',
 ' ',
 'C',
 'h',
 'l',
 'l',
 'm']