1.	Create a file calc.py which has following functions
a.	Function to find the factorial of a number
b.	Function to convert degree to Fahrenheit
Write a new program in file “maths.py” such that you import functions of the file calc.py to your new program. Use from <module> import <functions> statement to import the functions from the calc module

In [1]:
# written the Factorial and degree to farenheit conversion functions below for reference
# will add it to the calc.py
def factorial(a):
    if a == 0:
        print("The Factorial for 0 is 1")
        return 1
    elif a == 1:
        print("The Factorial for 1 is 1")
        return 1
    else :
        fact = a*factorial(a-1)
        return fact   

factorial(0)

The Factorial for 0 is 1

1

In [2]:
def degree_to_farenheit(a):
    faren=(a * (9/5))+32
    return faren
degree_to_farenheit(35)

95.0

In [3]:
from my_package import calc

In [4]:
calc.factorial(5)

120

In [5]:
calc.degree_to_farenheit(32)

89.6

2.	Implement a simple generator for Fibonacci series

In [92]:
def fibonacci(a):
    b,c = 0,1
    i = 0
    while i < a:
        yield b
        i +=1
        b,c = c , c + b 
    

var10=fibonacci(8)

In [93]:
for i in range(8):
    print(next(var10))

0
1
1
2
3
5
8
13

3.	Write an iterator class to iterate over a sequence of values in the reverse direction

In [98]:
# A list iterator can be only iterated in forward direction, however we can make use of reversed function 
list1 = [10,20,30,40,50,60]
iter1 = reversed(list1)

In [99]:
for i in range(len(list1)):
    print(next(iter1))

60
50
40
30
20
10

4.	Write a function “salary” that takes in base pay, HRA and special allowance as arguments and returns the sum of all the 3 salary elements. Then create a decorator function to add an additional element “Tax” (30% of base pay) and assign it back to base pay variable, and return the function (i.e., the final calculation of salary also includes tax)

In [100]:
def decor_salary(func):
    def tax(a,b,c):
        tax_amt=a*.3
        a = a+tax_amt
        return func(a,b,c)
    return tax

In [101]:
@decor_salary
def salary(base,hra,sp_allow):
    return base+hra+sp_allow

salary(10000,1000,5000)

19000.0

5.	Write 3 examples on possible methods to changing a tuple

#### Option 1 : Is the tuple contains list, then we can modify the list in tuple using Insert, append, extend options

In [102]:
tuple1 = (10,20,[30,40],60)

In [105]:
tuple1[2].append(50)

In [106]:
tuple1

(10, 20, [30, 40, 50], 60)

#### Option 2 : we cannot modify a tuple but we can add a tuple to a tuple

In [108]:
tuple2 = (10,20,30)
tuple2 = tuple2 + (40,)

In [109]:
tuple2

(10, 20, 30, 40)

#### Option 3 : we cannot modify a tuple but we can remove an items from the tuple by converting it to a list and removing an item and changing it back to tuple

In [15]:
tuple3 = (10,20,30,40,50,100)

In [12]:
list3=list(tuple3)
list3

[10, 20, 30, 40, 50, 100]

In [13]:
list3.remove(100)
tuple3=tuple(list3)

In [14]:
tuple3

(10, 20, 30, 40, 50)